<div class="rw-block">
    <h2 class="title">
        Property Price Availability Calculator
        <a href="javascript:void(0)" class="rentivo-wigdet-button button button-primary pull-right on toggle-button" id="propertyPriceAvailabilityCalculator">Turn off</a>
    </h2>
    <div class="image" style="background-image: url('{{ assetUrl }}/img/widgets/property_price_availability_calendar.jpg')"></div>
    <div class="meta">
        <p class="no-margin-bottom">This widget displays an availability calendar & live date checker. Once dates are confirmed a price & book now button is generated.</p>
    </div>
    <h2 class="sub-title">How to use</h2>
    <div class="how-to">
        <p><strong>Step 1:</strong> Locate your Rentivo property ID. <a href="https://www.rentivo.com/docs/Property_Owners/Create_Listing/getting_your_rental_id.html" target="_blank">How do I get my property ID?</a></p>
        <p><strong>Step 2:</strong> Copy and paste the shortcode below on pages/posts. Make sure to change "12345" to your Rentivo property ID</p>
        <p><strong>Shortcode:</strong></p>
        <div class="pre-code center">
            [price_availability_calculator property_id="12345"]
        </div>
    </div>
</div>